<div>
    <div class="container">
        <div class="login-box">
            <h1>Register Page</h1>

            <form action="/register" method="POST">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <p class="error">error</p>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <p class="error">error</p>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <p class="error">error</p>
                </div>

                <button type="submit">Register</button>

            </form>
        </div>
    </div>